body{
    text-align: center;
}
.show{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2%;
}
h1{
    color:cadetblue;
}
.card{
    border: grey solid 1px;
    background-color: beige;
    padding: 0 3%;
    width: 20%;
    margin-bottom: 3%;
}
span{
    font-weight: bolder;
}
h4{
    color: blueviolet;
}